@*@model IEnumerable<OnlineShopWeb.Models.Banner>*@
@{
    ViewBag.Title = "Danh sách Banner";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/banner" class="nav-link">Banner</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
@*<section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý Banner</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Banner</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>*@

<section class="content Ad_css_card">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Banner</h3>

            <div class="card-tools">
                <a href="/admin/Banner/AddBanner" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th style="text-align: center">Image</th>
                        <th>IsDelete</th>
                        <th style="text-align: center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center"></div>
    </div>

</section>

@section scripts {
    <script>
        function Paging(crrPage) {
            let pageSize = 1;
            $.ajax({
                type: 'GET',
                url: '/Admin/Banner/GetBannerByPage',
                data: { crrPage: crrPage, pageSize: pageSize },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        let banners = response.data;
                        let totalPages = response.totalPages;
                        let tbody = $('tbody');
                        tbody.empty();

                        if (banners.length > 0) {
                            banners.forEach((item, index) => {
                                let row = `
                                        <tr id="trow_${item.Id}">
                                            <td>${(crrPage - 1) * pageSize + index + 1}</td>
                                            <td>${item.title}</td>
                                            <td>${item.description}</td>
                                            <td><img style="height: 70px" src="data:image/png;base64,${item.ImageBase64}" alt="Prev Image" /></td>
                                            <td class="is-delete-column">${item.IsDeleted}</td>
                                            <td style="display: flex; gap: 10px;">
                                                <a href="/admin/banner/editBanner/${item.Id}" class="btn btn-sm btn-primary">Edit</a>
                                                <a href="#" data-id="${item.Id}" class="btn btn-sm btn-danger btnDelete">Delete</a>
                                            </td>
                                        </tr>`;
                                tbody.append(row);
                            });
                        } else {
                            tbody.html('<tr><td colspan="6">Không có bản ghi nào!!!</td></tr>');
                        }

                        // Render pagination buttons
                        RenderPagination(crrPage, totalPages);
                    }
                }
            });
        }

        function RenderPagination(crrPage, totalPages) {
            let pagination = $('.card-footer');
            pagination.empty();

            if (totalPages > 1) {
                let button = '';

                if (crrPage > 1) {
                    button += `<button class="btn btn-sm btn-default btnPage" data-page="${crrPage - 1}">Prev</button>`;
                }

                if (crrPage > 3) {
                    button += `<button class="btn btn-sm ${1 === crrPage ? 'btn-primary' : 'btn-default'} btnPage" data-page="1">1</button>`;
                    if (crrPage > 4) {
                        button += `<span class="btn btn-sm disabled">...</span>`;
                    }
                }

                for (let i = Math.max(1, crrPage - 2); i <= Math.min(totalPages, crrPage + 2); i++) {
                    button += `<button class="btn btn-sm ${i === crrPage ? 'btn-primary' : 'btn-default'} btnPage" data-page="${i}">${i}</button>`;
                }

                if (crrPage < totalPages - 2) {
                    if (crrPage < totalPages - 3) {
                        button += `<span class="btn btn-sm disabled">...</span>`;
                    }
                    button += `<button class="btn btn-sm ${totalPages - 1 === crrPage ? 'btn-primary' : 'btn-default'} btnPage" data-page="${totalPages}">${totalPages}</button>`;
                }

                if (crrPage < totalPages) {
                    button += `<button class="btn btn-default btn-sm btnPage" data-page="${crrPage + 1}">Next</button>`;
                }

                pagination.append(button);
            }
        }

        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var cof = confirm('Bạn có muốn xóa bản ghi này không?');
                if (cof) {
                    $.ajax({
                        url: '/admin/banner/deleteBanner',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).find('.is-delete-column').text("True");
                            }
                        }
                    })
                }
            })
            $('body').on('click', '.btnPage', function () {
                let page = $(this).data('page');
                Paging(page);
            });

            Paging(1);
        })
    </script>
}


