
﻿# Ignore build results

[Dd]ebug/
[Dd]ebugPublic/
[Dd]istro/
[Dd]ist/
[Dd]ebug/
[Dd]ebug/
bin/
obj/
/obj/
*.cache

# User-specific files
# Windows Installer files
Thumbs.db
Desktop.ini

# User-specific files
.vs/
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer Files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Image File
*.iso

# Windows Installer logs
*.cab

# JetBrains Rider IDE
.idea/

# Rider Workspace
.idea/

# Microsoft Azure Web Apps Publish
Publish/

# Ignore upgrade log files
UpgradeLog*.htm

