@* Footer Partial View *@
<style>
    body {
        margin: 0;
        overflow-x: hidden;
        font-family: 'Play', sans-serif;
    }

    .footer {
        background: #F0F0E9;
        padding: 30px 0px;
        text-align: center;
        color: #000;
    }

        .footer .row {
            width: 100%;
            margin: 1% 0%;
            padding: 0.6% 0%;
            font-size: 0.9em;
        }

            .footer .row a {
                text-decoration: none;
                color: #000;
                transition: 0.3s;
            }

                .footer .row a:hover {
                    color: #777;
                }

            .footer .row ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                .footer .row ul li {
                    display: inline-block;
                    margin: 0px 20px;
                }

            .footer .row a i {
                font-size: 2em;
                margin: 0% 1%;
                transition: transform 0.3s ease-in-out;
            }

                .footer .row a i:hover {
                    color: #777;
                    transform: scale(1.2);
                }
</style>

<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<footer>
    <div class="footer">
        <div class="row">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="row">
            <ul>
                <li><a href="#">Online Help</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Payment</a></li>
            </ul>
        </div>
        <div class="row">
            Copyright © 2024 E-Shopper Inc. - All rights reserved || Designed By: <a href="#">Nhom 6</a>
        </div>
    </div>
</footer>
