﻿<div class="hd_middle">
    <!--header-->
    <div class="hd_container">
        <div class="hd_logo">
            <a href="/"><img src="~/Content/images/home/logo.png" alt="" /></a>
        </div>
        <div class="search_container respon">
            <img src="~/Content/images/CustomImage/icon_search.png" />
            <input type="text" id="searchInput" placeholder="Search" autocomplete="off" />
            <button class="btn_search">Tìm kiếm</button>
        </div>
        <div class="hd_item">
            <ul class="hd_nav">
                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                <li id="test"><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
                <li id="test2" class="account-dropdown">
                    <div class="account"><i class="fa fa-user"></i><span> Account</span></div>
                    <ul class="list_item">
                        <li class="item_container"><a class="css_item" id="profileHeader" href="/Account/profile">Thông tin tài khoản</a></li>
                        <li class="item_container"><a class="css_item" id="orderHeader" href="/Account/myOrder">Đơn hàng của tôi</a></li>
                        <li class="item_container"><a class="css_item" href="/Account/logout">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="search_container respon_1" style="display: none">
        <img src="~/Content/images/CustomImage/icon_search.png" />
        <input type="text" id="searchInputRespon" placeholder="Search" autocomplete="off" />
        <button class="btn_search">Tìm kiếm</button>
    </div>
</div>

<script>
    function FindByInputSearch() {
        var query = $('#searchInput').is(':visible') ? $('#searchInput').val() : $('#searchInputRespon').val();
        if (query) {
            $.ajax({
                url: '/Search/Index',
                type: 'GET',
                data: { query: query },
                success: function (response) {
                    // Xử lý phản hồi từ server nếu cần
                    $('body').html(response);
                },
                error: function (xhr, status, error) {
                    alert("Có lỗi xảy ra: " + error);
                }
            });
        } else {
            alert("Vui lòng nhập từ khóa!");
        }
    }
    $(document).ready(function () {
        $('body').on('click', '.btn_search', function () {
            FindByInputSearch();
        });

        $('#searchInput, #searchInputRespon').on('keydown', function (event) {
            if (event.key === "Enter") {
                FindByInputSearch();
            }
        });

        $('#profileHeader').on("click", function () {
            sessionStorage.setItem('activeLink', 'profile');
        })

        $('#orderHeader').on("click", function () {
            sessionStorage.setItem('activeLink', 'order');
        })

        let isLogin = true;  // Kiểm tra trạng thái đăng nhập

        if (isLogin) {
            document.getElementById("test").style.display = "none";  // Ẩn link Login
            document.getElementById("test2").style.display = "block"; // Hiển thị Account
        } else {
            document.getElementById("test2").style.display = "none";  // Ẩn Account
        }
    });
</script>