@using OnlineShopWeb.Models
@*@{
    var brands = ViewData["Brands"] as IEnumerable<BrandViewModel>;
}*@

<div class="left-sidebar">
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        @Html.Action("ListCategory", "Category")
    </div>


    <div class="brands_products">
        <h2>Brands</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                @Html.Action("ListBrand", "Brand")
            </ul>
        </div>
    </div>
    <div class="shipping text-center">
        <!--shipping-->
        <img src="~/Content/images/home/shipping.jpg" alt="" />
    </div><!--/shipping-->
</div>

