@using OnlineShopWeb.Models
@{
    var brands = ViewData["Brands"] as IEnumerable<BrandViewModel>;
}
<div class="left-sidebar">
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Sportswear
                    </a>
                </h4>
            </div>
            <div id="sportswear" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#" data-brand-id="2">Nike</a></li>
                        <li><a href="#" data-brand-id="1">Adidas</a></li>
                        <li><a href="#" data-brand-id="3">Supreme</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="brands_products">
        <h2>Brands</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                @foreach (var brand in brands)
                {
                    <li>
                        <a href="#" data-brand-id="@brand.BrandId">
                            <span class="pull-right">(@brand.ProductCount)</span>@brand.BrandName
                        </a>
                    </li>
                }
            </ul>
        </div>
    
    </div>

</div>