<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @Html.Action("ListBanners", "Banner", new { area = "" })
            </div>
        </div>
    </div>
</section>