
@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="p_content">
    <div class="pc_header">
        <span class="pch_title">Địa chỉ của tôi</span>
        <span>Quản lý địa chỉ nhận hàng của bạn</span>
    </div>
    <div class="pc_main">
        <p>Đây là phần quản lý địa chỉ của bạn...</p>
        <!-- Thêm nội dung địa chỉ ở đây -->
    </div>
</div>

