﻿@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="p_content">
    <div class="pc_header">
        <span class="pch_title">Thay đổi mật khẩu</span>
        <span>Quản lý tài khoản của bạn</span>
    </div>
    <div class="pc_main">
        <form id="ChangePassword" class="pcm_container">
            <input class="form-control" type="email" name="email" placeholder="Your Email" required />
            <input class="form-control" type="password" name="password" placeholder="Your Password" required />
            <input class="form-control" type="password" name="newPassword" placeholder="New Password" required />
            <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" required />
            <button id="btnConfirm" class="btn btn-success">Confirm</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#ChangePassword').on('submit', function (e) {
            e.preventDefault();
            let form = document.getElementById('ChangePassword');
            let formData = new FormData(form);
            let newPassword = $('#ChangePassword').find("input[name=newPassword]").val();
            let confirmPassword = $('#ChangePassword').find("input[name=confirmPassword]").val();
            if (newPassword !== confirmPassword) {
                alert("Mật khẩu mới không trùng khớp");
                return;
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/Account/postNewPassword',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            alert("Password changed successfully!");
                            $('#ChangePassword').find("input[type=email], input[type=password]").val("");
                        } else {
                            alert("Password changed fail!");
                        }
                    }
                })
            }
        })
    })
</script>