
@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
    ViewData["Title"] = "Payment Failed";
}

<div class="container text-center">
    <div class="logo-404">
        <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/home/logo.png" alt="Logo" /></a>
    </div>
    <div class="content-404">
        <h1><b>Oops!</b> Payment Process Failed</h1>
        <h2 class="text-danger">@TempData["Message"]</h2>
        <p>We couldn’t process your payment. Please check your payment details or try again later.</p>
        <h2><a href="@Url.Action("Checkout", "Order")">Return to Checkout</a></h2>
        <h2><a href="@Url.Action("Index", "Home")">Go Back to Home</a></h2>
    </div>
</div>
