@model IEnumerable<OnlineShopWeb.Models.Category>
@{
    ViewBag.Title = "_ListCategory";
}

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a href="/Home/GetProductsByCategory?categoryId=@item.CategoryId">@item.Name</a>
        </div>
    </div>
}