@model IEnumerable<OnlineShopWeb.Models.Product>

@{
    ViewBag.Title = "Product index";
}

@if (Model != null && Model.Any())
{
    <div>
        @foreach (var product in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper product-hover">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="~/Content/images/home/product1.jpg" alt="">
                            <h2>@product.Price</h2>
                            <p>@product.Name</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart btnAddToCart"></i>Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
