.ad_addImage {
    border: 1px solid red;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.ad_prevImage {
    border: 1px dashed red;
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#adb_prevImage {
    height: 100%;
    object-fit: contain;
}